@import 'tailwindcss';

@theme {
  /* 색 적용 방법 */
  /* bg-primary, bg-primary-hover 등 */

  /* --- 메인 컬러 primary --- */
  /* 기본 컬러(보라색) */
  --color-primary: #7a57ff;
  /* 호버 시 */
  --color-primary-hover: #7c3aed;
  /* 연한 배경용 */
  --color-primary-light: #ddd6fe;

  /* --- 배경색 background --- */
  /* 페이지 전체 배경색(회색) */
  --color-background: #eceef5;
  /* 랜딩 페이지 */
  --color-background-landing: #f8f8fc;

  /* --- 테두리 border --- */
  /* 기본 테두리 */
  --color-border: #e5e7eb;
  /* 선택 시 */
  --color-border-focus: #7a57ff;
  /* 호버 시 */
  --color-border-hover: #7a57ff;
  /* 선택 시 (파란색) */
  --color-border-focus-blue: #4757d3;

  /* --- 카드 배경 surface --- */
  /* 기본 카드 배경 */
  --color-surface: #ffffff;
  /* 연한 회색 배경 */
  --color-surface-alt: #f9fafb;

  /* --- 텍스트 text --- */
  /* 제목(검은색) */
  --color-text: #000000;
  /* 부연설명(연한 회색) */
  --color-text-sub: #6b7280;
  /* 텍스트(흰색) */
  --color-text-invert: #ffffff;
}
